.cont{
	background: white;
	height: auto;
	margin:0 auto;
	margin-top: 0px;
	max-width: 1140px;
	position: relative;
	text-align : justify;
	padding: 1% 3% 2% 3%;
	box-sizing: border-box;
}

.tmulti{
	background: white;
	height: 600px;
	width: 100%;
	max-width: 1140px;
	margin:0 auto;
	margin-top: 0px;
	position: relative;
}

.multi{
	width: 100%; 
	height: auto;
    margin:0 auto;
}

.titulo{
	color: #0c4251!important; 
	text-align: left!important;
}

ul#lista, #lista ul{
	list-style-type: square!important;
}

#lista li{
	display:list-item !important;
}