	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>CODREISA</title>
		<link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
		<link rel="stylesheet" href="../css/style.css"/>
		<link rel="stylesheet" href="../css/style.css"/>
	</head>
	</head>
	<body>
		<div class="cabecera">
			<div class="logo"><a href=""><img src="../images/logo_codreisa.png"></a></div>

			<div class="menu">
				<div class="redes">
					<ul class="center">
			            <li><a href=""><img src="../images/facebook.jpg" alt=""></a></li>
			            <li><a href=""><img src="../images/linkedin.jpg" alt=""></a></li>
			            <li><a href=""><img src="../images/rss.jpg" alt=""></a></li>
		            </ul>
				</div>
				<div class="nav">
					<ul id="menunav">
						<li><a href="#">Inicio</a></li>
						<li><a href="#">Servicios</a>
						   	<ul>
						    	<li><a href="#">Servicios Profesionales</a></li>
						    	<li><a href="#">Suministro de Porductos</a></li>
						    	<li><a href="#">Tecnologia Educacional</a></li>
						    </ul>
						</li>
						<li><a href="#">Conocenos</a></li>
						<li><a href="#">Contacto</a></li>
					</ul>
				</div>
			</div>
		</div>

          <div class= "ante">
          	<div class= "texto">
          		<h3>ANTECEDENTES</h3>
          		<p>Multicar surge como una empresa familiar orientada al suministro de equipos automotrices con énfasis al diagnóstico automotriz, para luego irse desarrollando como una empresa que suministra productos consumibles para el seguimiento de   mercado de los talleres de enderezado y pintura y al obtener la distribución de INDASA (productos abrasivos) esto nos permite incursionar en diferentes productos complementarios a nuestras líneas originales.
          		</p>
             
          		<p>Gracias a la caeptación de nuestros productos y servicios en nuestro mercado nos motivo a crear nuestra sociedad CODREISA, que a apartir del 2011 inicia sus relaciones comerciales.</p>
          	    </br>
          	    <h3>ESTRATEGIA COMERCIAL</h3>
          	    <p>Lograr obtener en el mediano plazo una red de distribuidos y clientes con alto potencial de compras que consuman los productos que distribuye CODREISA, esto mediante una estrecha relación con los clientes, identificando sus necesidades y apoyándoles mediante capacitaciones sobre las características, ventajas, beneficios y usos a fin de potenciar una mayor productividad en sus empresas.</p>
          	    </br>
          	    <h3>VISIÓN</h3>
          	    <p>Establecer una relación duradera con nuestros clientes, proporcionando productos,servicios y soluciones de la mejor calidad y ofrecer más valor agregado a los clientes que merecen nuestro respeto y lealtad.</p>

          	</div>

          	<div class= "pieza">
          		<img class="imgpieza"src="../images/pieza.png">
          	</div>
          </div>

   


		
		<div class="footer">
			<ul class="final">
				<li>© Copyright  2014 CODREISA S.A. de C.V.</li>
				<li><a href="">Incio</a></li>
				<li><a href="">Servicios</a></li>
				<li><a href="">Conocenos</a></li>
				<li><a href="">Contacto</a></li>
			</ul>
		</div>
	</body>
</html>