<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>CODREISA</title>
		<link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
		<link rel="stylesheet" href="../css/style.css"/>
	</head>
	</head>
	<body>
		<div class="cabecera">
			<div class="logo"><a href="../index.html"><img src="../images/logo_codreisa.png"></a></div>

			<div class="menu">
				<div class="redes">
					<ul class="center">
			            <li><a href=""><img src="../images/facebook.jpg" alt=""></a></li>
			            <li><a href=""><img src="../images/linkedin.jpg" alt=""></a></li>
			            <li><a href=""><img src="../images/rss.jpg" alt=""></a></li>
		            </ul>
				</div>
				<div class="nav">
					<ul id="menunav">
						<li><a href="../index.html">Inicio</a></li>
						<li><a href="#">Servicios</a>
						   	<ul>
						    	<li><a href="../view/multicar.html">Servicios Profecionales</a></li>
						    	<li><a href="#">Suministro de Porductos</a></li>
						    	<li><a href="#">Tecnologia Educacional</a></li>
						    </ul>
						</li>
						<li><a href="../view/acerca.html">Conocenos</a></li>
						<li><a href="#">Contacto</a></li>
					</ul>
				</div>
			</div>
		</div>

    	<div class = "tmulti">
    	    <div>
    	    	<img class= "multi" src="../images/multicar.jpg" alt="">
    		</div>
    	</div>




    	<div class="cont">
	    	<h3 class="titulo">MULTICAR SERVICIOS</h3>
            <p>Multicar surge como una empresa familiar orientada al suministro de equipos automotrices con enfasis al doagnostico automotris; para luego irse dasarrollando como una empresa que suministra productos consumibles para el segmento de mercado de los detalles de enderezado y pintura y al obtener la distribucion de INDASA (Productos abrasivos) esto nos permite incursionar en diferentes industrias que nos abre campo a ofrecer diferentes productos complementarios a nuestras lineas originales.</p>

            <p>Gracias a la aceptacion de nuestros productos y servicios en nuestro mercado nos motivo a crear nuestra sociedad CODRISA, que a partir del 2011 inicia sus relaciones comerciales.</p>
        
            <h3 class="titulo">RECURSOS</h3>
            <ul id="lista">
            	<li>Intalaciones fisicas de 800mts2 totalmente techado y pisos de concreto</li>
            	<li>Ubicacion sobre Calle Gerardo Barrios #1156 San Salvador con capacidad para atender 20 vehiculos simultaneamente</li>
               	<li>3 elevadores de 1/2 altura</li>
                <li>2 elevadores de 2 postes</li>
                <li>1 cabina de pintura con sista Down Darf marca Devilvis</li>
                <li>2 Lampara infrarrojas de onda corta para secado rapido de pintura</li>
                <li>1 "L" para enderezado</li>
                <li>1 juego de expansores</li>
                <li>1 equipo para limpieza de pistola de pintar</li>
                <li>2 spotter para extraer gopes de carroceria</li>
                <li>1 prensa hidraulica</li>
                <li>1 equipo para medir angulos de cuadracion de ruedas delanteras</li>
                <li>2 juegos de cadena y mordazas</li>
                <li>2 cajas de herramientas con herramientas manual y pneumatica</li>
                <li>2 equipos de soldadura electrica y autogena</li>
                <li>1 soldador MIG</li>
                <li>1 equipo de reciclado y cambio de Aire Acondicionado.</li>
            </ul>

            <h3 class="titulo">NUESTROS SERVICIOS</h3>
            <ul id="lista">
            	<li>Mantenimiento preventivo y correcto</li>
                <li>Enderezado y Pintura</li>
                <li>Restauracion depinturas nuevas o deterioradas</li>
                <li>Centro de Capacitaciones</li>
             </ul>
	    </div>

		<div class="footer">
			<ul class="final">
				<li>© Copyright  2014 CODREISA S.A. de C.V.</li>
				<li><a href="../index.html">Incio</a></li>
				<li><a href="#">Servicios</a></li>
				<li><a href="../view/acerca.html">Conocenos</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
		</div>
	</body>
</html>