	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>CODREISA</title>
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
		<link rel="stylesheet" href="../css/style.css"/>
		<link rel="stylesheet" href="../css/servicios.css"/>
	</head>
	<body>
		<div class="cabecera">
			<div class="logo"><a href=""><img src="../images/logo_codreisa.png"></a></div>
			<div class="menu">
				<div class="redes"
					<ul class="center">
			            <li><a href=""><img src="../images/facebook.jpg" alt=""></a></li>
			            <li><a href=""><img src="../images/linkedin.jpg" alt=""></a></li>
			            <li><a href=""><img src="../images/rss.jpg" alt=""></a></li>
		            </ul>
				</div>
				<div class="nav">
					<ul id="menunav">
						<li><a href="#">Inicio</a></li>
						<li><a href="#">Servicios</a>
						   	<ul>
						    	<li><a href="#">Servicios Profesionales</a></li>
						    	<li><a href="#">Suministro de Porductos</a></li>
						    	<li><a href="#">Tecnologia Educacional</a></li>
						    </ul>
						</li>
						<li><a href="#">Conocenos</a></li>
						<li><a href="#">Contacto</a></li>
					</ul>
				</div>
			</div>
		</div>

    	<div class = "tmulti">
    	<div>
    		<img class= "multi" src="../images/multicar.jpg" alt="">
    	</div>
	    <div class="cont"><p><h3>MULTICAR SERVICIOS</h3>
        Multicar surge como una empresa familiar orientada al suministro de equipos automotrices con enfasis al doagnostico automotris; para luego irse dasarrollando como una empresa que suministra productos consumibles para el segmento de mercado de los detalles de enderezado y pintura y al obtener la distribucion de INDASA (Productos abrasivos) esto nos permite incursionar en diferentes industrias que nos abre campo a ofrecer diferentes productos complementarios a nuestras lineas originales.

        Gracias a la aceptacion de nuestros productos y servicios en nuestro mercado nos motivo a crear nuestra sociedad CODRISA, que a partir del 2011 inicia sus relaciones comerciales.
        <h3>RECURSOS</h3>
        Intalaciones fisicas de 800mts2 totalmente techado y pisos de concreto
        Ubicacion sobre Calle Gerardo Barrios #1156 San Salvador con capacidad para atender 20 vehiculos simultaneamente
        3 elevadores de 1/2 altura
        2 elevadores de 2 postes
 </p></div>
	    </div>

		

		
		
		<div class="footer">
			<ul class="final">
				<li>© Copyright  2014 CODREISA S.A. de C.V.</li>
				<li><a href="">Incio</a></li>
				<li><a href="">Servicios</a></li>
				<li><a href="">Conocenos</a></li>
				<li><a href="">Contacto</a></li>
			</ul>
		</div>
	</body>
</html>