	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>CODREISA</title>
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
		<link rel="stylesheet" href="../css/style.css"/>
	</head>
	<body>
		<div class="cabecera">
			<div class="logo"><a href=""><img src="../images/logo_codreisa.png"></a></div>
			<div class="menu">
				<div class="redes"
					<ul class="center">
			            <li><a href=""><img src="../images/facebook.jpg" alt=""></a></li>
			            <li><a href=""><img src="../images/linkedin.jpg" alt=""></a></li>
			            <li><a href=""><img src="../images/rss.jpg" alt=""></a></li>
		            </ul>
				</div>
				<div class="nav">
					<ul id="menunav">
						<li><a href="#">Inicio</a></li>
						<li><a href="#">Servicios</a>
						   	<ul>
						    	<li><a href="#">Servicios Profesionales</a></li>
						    	<li><a href="#">Suministro de Porductos</a></li>
						    	<li><a href="#">Tecnologia Educacional</a></li>
						    </ul>
						</li>
						<li><a href="#">Conocenos</a></li>
						<li><a href="#">Contacto</a></li>
					</ul>
				</div>
			</div>
		</div>

    	<div class="cont">
	     <div class="serp"><p><h3>SERVICIOS PROFECIONALES</h3><p>Taller de mecanica en general, enderezado  pintura, restauracion de vinculos, limpieza de interiores y Centro de Capacitaciones.</p></div>
	     <div class="sumtec">
	     	<div class="sum"><p><h3>SUMINISTRO DE PRODUCTOS</h3><p></div></p></div>
	     	<div class="tec"><p><h3>TECNOLOGIA EDUCACIONAL</h3></p></div>
	     </div>
	    </div>

		

		
		
		<div class="footer">
			<ul class="final">
				<li>© Copyright  2014 CODREISA S.A. de C.V.</li>
				<li><a href="">Incio</a></li>
				<li><a href="">Servicios</a></li>
				<li><a href="">Conocenos</a></li>
				<li><a href="">Contacto</a></li>
			</ul>
		</div>
	</body>
</html>